* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: both;
  overflow: hidden;
  width: 450px;
  height: 450px;
  margin-top: 100px;
}
img {
  position: absolute;
  width: 400px;
  height: 400px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 0;
  opacity: 0;
  width: 450px;
  height: 450px;
  background: rgba(120, 120, 120, 0.5);
}

main:hover .box {
  height: 530px;
  opacity: 1;
  transition: 0.5s ease-in;
}

h1 {
  width: 500px;

  color: white;
  font-size: 2rem;
  font-weight: bolder;
}
h2 {
  color: azure;
  font-size: 1.2rem;
  font-family: sans-serif;
  opacity: 1;
}

main:hover img {
  rotate: 375deg;
  scale: 1.5;
  transition: 0.5s ease-in;
}
